Week4/src/main/app/new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="newFlow">
        <http:listener config-ref="Week4" path="/new" doc:name="HTTP"/>
        <set-payload value="&quot;Hello&quot;" doc:name="Set Payload"/>
        <set-variable variableName="Name" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration1" path="/newflow1" method="get" doc:name="HTTP"/>
        <logger message="name=#[flowVars.Name]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="newFlow1">
        <http:listener config-ref="Week4" path="/newflow1" doc:name="HTTP"/>
        <set-payload value="&quot;Come On&quot;!" doc:name="Set Payload"/>
    </flow>
</mule>
