Week4/src/main/app/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <ws:consumer-config name="Web_Service_Consumer_new" wsdlLocation="http://localhost:1233/SOAP/AddNumbers?wsdl" service="AddNumbersService" port="AddNumbersPort" serviceAddress="http://localhost:1233/SOAP/AddNumbers" doc:name="Web Service Consumer"/>
    <flow name="soapFlow">
        <http:listener config-ref="Week4" path="/soap" doc:name="HTTP"/>
        <set-variable variableName="number1" value="#[message.inboundProperties.'http.query.params'.number1]" doc:name="Variable"/>
        <set-variable variableName="numb2" value="#[message.inboundProperties.'http.query.params'.numb2]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://Soap.com/
---
{
	ns0#add: {
		arg0: flowVars.number1 as :number,
		arg1: flowVars.numb2 as :number
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer_new" operation="add" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="99c91f38-b1e4-4017-aee9-c212e702323e">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://Soap.com/
---
payload.ns0#addResponse.return]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="&quot;Invalid Data Type&quot; #[flowVars.number1]+&quot;/n&quot;+ #[exception]" doc:name="Set Payload"/>
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
