Orchard_new/target/classes/basicJavaComponent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="jjFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jj" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="FirstName: #[message.inboundProperties.'http.query.params'.firstname] LastName: #[message.inboundProperties.'http.query.params'.lastname]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="firstname" value="#[message.inboundProperties.'http.query.params'.firstname]" doc:name="Variable"/>
        <set-variable variableName="lastName" value="#[message.inboundProperties.'http.query.params'.lastname]" doc:name="Variable"/>
        <component class="com.orchard.AddingTwoNames" doc:name="Java"/>
    </flow>
    <flow name="second-flow">
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
