american-ws/src/main/app/flights.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <http:listener-config name="flights-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="flights-config" raml="flights.raml" consoleEnabled="false" doc:name="Router"/>
    <context:property-placeholder location="american-${env}.properties"/>
    <flow name="flights-main">
        <http:listener config-ref="flights-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="flights-config" doc:name="APIkit Router"/>
        <exception-strategy ref="flights-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="flights-console">
        <http:listener config-ref="flights-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="flights-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="delete:/flights/{ID}:flights-config">
        <set-variable variableName="ID" value="#[message.inboundProperties.'http.uri.params'.ID]" doc:name="Variable"/>
        <flow-ref name="DeleteflightbyId" doc:name="DeleteflightbyId"/>

    </flow>
    <flow name="get:/flights:flights-config">
        <flow-ref name="american-getAllflights" doc:name="american-getAllflights"/>

    </flow>
    <flow name="get:/flights/{ID}:flights-config">
        <set-variable variableName="idd" value="#[message.inboundProperties.'http.uri.params'.ID]" doc:name="Variable"/>
        <flow-ref name="getFlightById" doc:name="getFlightById"/>

    </flow>
    <flow name="post:/flights:flights-config">
        <flow-ref name="american-PostAllFlights" doc:name="american-PostAllFlights"/>

    </flow>
    <flow name="post:/flights/{ID}:flights-config">
        <set-variable variableName="ID" value="#[message.inboundProperties.'http.uri.params'.ID]" doc:name="Variable"/>
        <flow-ref name="postById" doc:name="postById"/>

    </flow>
    <apikit:mapping-exception-strategy name="flights-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
