myexampleproject/src/main/app/myexampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Welcome123" database="orchard" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL_Configuration1" host="localhost" port="3306" user="root" password="Welcome123" database="orchard" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL_Configuration2" host="localhost" port="3306" user="root" password="Welcome123" database="orchard" doc:name="MySQL Configuration"/>
    <flow name="myexampleprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="Get" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from lead]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="myexampleprojectFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="post" doc:name="HTTP"/>
        <db:insert config-ref="MySQL_Configuration2" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into lead (l_id,l_name,t_id) values(#[json:l_id],#[json:l_name],#[json:t_id])]]></db:parameterized-query>
        </db:insert>
    </flow>
    <flow name="myexampleprojectFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights/{ID}" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration1" doc:name="Database">
            <db:parameterized-query><![CDATA[Select * from minds 
where l_id= #[message.inboundProperties.'http.uri.params']]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
